.center{
    position: relative;
    top: 30%;
    left: 65%;
}

.dialog{
    height: 4rem;
    width: 7rem;
    background-color: white;
    position: absolute;
    border-radius: 10%;
}

.point{
	width: 0;
	height: 0;
	border-left: 1vh solid transparent;
	border-right: 1vh solid transparent;
	border-top: 3vh solid white;
	position: absolute;
	top: 45%;
	left: -10%;
	transform: rotate(60deg);
}